VAST_ADDRESS=your_vast_address
VAST_TOKEN=vast secret UUID from barbican
PROJECT_DB_API_HOST=your_project_db_host
PROJECT_DB_API_KEY=project db api key secret UUID from barbican
LOG_LEVEL=INFO
WRITE_OUTPUT_FILES=true
RESEARCH_DRIVES_ROOT=vast_root_directory_for_research_drives
VIEW_POLICY_NAME=vast_view_policy_name
OS_AUTH_TYPE=your_openstack_auth_type (default: v3applicationcredential)
OS_AUTH_URL=your_openstack_auth_url
OS_APPLICATION_CREDENTIAL_ID=your_openstack_application_credential_id
OS_APPLICATION_CREDENTIAL_SECRET=your_openstack_application_credential_secret